<?xml version="1.0" encoding="utf-8"?>

<!--
    AndroidManifest.xml contains essential information about the Android application, including
    configuration settings, permissions, and activity declarations.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--The <application> element defines the properties and components of the application.-->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bank"
        tools:targetApi="31">

        <!--The <activity> element declares an activity, which represents a single screen in the application.-->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Bank">

            <!--The <intent-filter> element declares the capabilities of an activity, service, or broadcast receiver-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>